*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.odin-recipes > h1 {
    background-color: #496580;
    margin: 20px 12px;
    text-align: center;
    color: #bafff5;
    font-weight: bold;
    font-size: 69px;
    font-family: Georgia, serif;
}

.select-recipes, a {
    margin: 20px 12px ;
    padding: 20px 0 20px 50px;
    display: block;
    background-color: #baddff;
    list-style: number;
    font-size: 32px;
    text-decoration: none;   
    color: #f79256;
}

.recipe-header, h1{
    color: gold;
    font-family: Arial, sans-serif;
}

.recipe-img, img {
    height: 300px;
    width: auto;
}

.ingredients.steps {
    align-items: center;
}